<%= form_for([@room, @room.reservations.new]) do |f| %>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
            <p class="control is-expanded has-icons-left">
                <%= f.text_field :start_date, readonly: true, placeholder: "イン", class: "input is-primary is-rounded" %>
                <span class="icon is-small is-left">
                <i class="far fa-calendar-alt"></i>
                </span>
            </p>
            </div>
            <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
                <%= f.text_field :end_date, readonly: true, placeholder: "アウト", class: "input is-primary is-rounded" %>
                <span class="icon is-small is-left">
                <i class="far fa-calendar-alt"></i>
                </span>
            </p>
            </div>
        </div>
    </div>
    <%= f.submit "予約する", class: "button is-danger is-fullwidth m-t-10 m-b-10"  %>
<% end %>