.title {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.button {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.field {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.all {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.navbar-item {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.input {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.card-content {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.section {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.card-header-title is-centered {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.modal-card-title {
  font-family: 'Sawarabi Mincho', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}